body {
    font-family: 'Helvetica Neue', arial, san-serif;
}

.container {
    max-width: 64rem;
    margin: 0 auto;
}

.output {
    background: #CCC;
    border: 1px solid rgba(0,0,0,.5);
    min-height: 300px;
    padding: 1rem;
    font-size: 1rem;
}

.output code {
    font-size: 3rem;
}